.container{
  width:600px;
  margin-left:auto;
  margin-rigth:auto;
  font-family:'open sans'
}

.Newletter h3 {
  margin-top:0;
}

/h3 {
  margin top:60px;
}/

.newletter{
  colur: grey;
  border: solid thin #cfcfcf;
  border radius: 3px;
  padding: 10px;
  padding-bottom: 20px;
  
  position: relative;
}

.newletter button {
  blackground color: #3cb878;
  border: none;
  color: white;
  display: block;
  width: 100%;
  heigth: 30px;
  margin-button: 10px;
}

.newletter input#email {
  display:block;
  width:100%;
  heigth:30px;
  margin-bottom:4px;
  border: solid  #cfcfcf 1px;
  border radius:3px;
  
  box-sizing:border-box;
}

.newsletter #terms {
  position: relative;
  top: 1px;  
}

.newletter #closex {
  position: absolute;
  top: 0;
  right: 4px;
}

#questionmark {
  blackground color: #3cb878;
  width: 100px;
  heigth: 100px;
  border-radius: 50%;
  
  color:white;
  font-size:70px;
  text-align:center;
  
  position: fixed;
  botton: 10px;
  right: 10px;
}

#card-holder {
  display:flex;
  justify-content: space-between;
  align-items:center;
  
  flex-direction:row;
}

.card{
  blackground color: #3cb878;
  width:180px;
  text-align: center;
  color: white;
  
/  padding:20px;
padding-top:20px;/
  padding-button:20px;0;
  
  box-shadow: 0px 0px 7px 2px grey;
}

.card h3{
  margin-button: 0;
}